
/* header settings */
.main-header {
  background-color: #282c34;
  overflow: hidden;
  height: 4rem;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
}

.main-header .header-1 {
  width: 60%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: 2rem;
  /* color: gold; */
}

.item {
  text-decoration: none;
  color: #14D500;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 2rem;
  margin-left: 1rem;
}

.item:hover {
  border: 3px solid #282c34;
  border-radius: 4px;
  color: gold;
  background-color: #282c34;
  filter: brightness(130%);
  height: calc(100% - 4px);
}

.main-header .header-1 .logo {
  width: 3rem;
  display: flex;
  align-items: center;
}

.main-header .header-2 {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 40%;
  height: 100%
}



/* App's body stylling */
#root {
  margin: 0;
  padding: 0;
}
body {
  background-color: lightgreen;
}

.app-body {
  /* display: flex; */
  min-height: calc(100vh - 4rem - 2.5rem - 1px);
  margin: 1rem;
  margin-bottom: 3.5rem;
  border: 2px solid teal;
  border-radius: 10px;
  padding: 2rem;
}





/* List of apartments components style */
h1 {
  text-align: center;
  margin-top: 0rem;
}


.processing {
  color: seagreen;
  text-align: center;
}

.table-section-title {
  /* text-align: center; */
  margin-top: 3rem;
  /* margin-bottom: 0.8rem; */

  font-size: 1.5rem;
  font-weight: bolder;
  height: 3rem; 
  display: flex; 
  align-items: center; 
  justify-content: center; 
  width: 100%;
}

.table-section-title.av {
  color: blue;
}
.table-section-title.rbo {
  color: red;
}
.table-section-title.rba {
  color: orangered;
}



/* table settings */
table { 
  min-width: 60%;
  margin: auto;
  border: 2px solid green;
  /* border-collapse: collapse; */
}
.table-no-mouse-cursor {
  cursor: wait;
}
.table-no-mouse-events {
  pointer-events: none;
}
.tr-table:nth-child(odd){background-color: whitesmoke;}
.tr-table:nth-child(even){background-color: lightgrey;}
.tr-table:hover {background-color: salmon;}
.tr-first {
  background-color: lightseagreen;
  color: darkblue;
}

.tr-hover:hover {
  cursor: pointer;
}

.table-index {
  width: 1.5rem;
  text-align: center;
}
.table-description {
  width: 50%;
}
.table-price {
  width: 4.5rem;
  text-align: center;
}
.table-location {
  width: 4rem;
  text-align: center;
}
.table-reactivated {
  width: 5.5rem;
  text-align: center;
}
.table-remove {
  width: 2rem;
  text-align: center;
}
.table-trash {
  display: block;
  margin: auto;
}
.table-edit {
  display: block;
  margin: auto;
}
.table-more {
  width: 2.5rem;
}
.tr-empty {
  text-align: center;
  background-color: lightsteelblue;
}
.tr-orange {
  color: orange;
}
.table-ExpCol {
  /* display: block; */
  /* margin: auto; */
  margin-left: 0.5rem;
  font-size: x-large;
}
.expCol-blue {
  color: blue;
}
.expCol-green {
  color: green;
}

@media (max-width: 768px) {
  .app-body {
    margin: 0.5rem;
    padding: 0.5rem;
    /* border: 3px solid red; */
  }
  table {
    min-width: 95%;
  }
  .table-index {
    width: 1rem;
  } 
  .table-price {
    width: 0rem;
  }
  .table-more {
    width: 0;
  }
}


/* Modals settings */
h2 {
  text-align: center;
}

.buttons-modal {
  margin-top: 3rem;
  display: flex;

}
.button-close {
  width: 50%;
  background-color: #0275d8;
  color: black;
}
.button-remove {
  width: 50%;
  color: black;
  background-color: #d9534f;
}
.button-close-whole {
  /* width: 100%; */
  background-color: #0275d8;
  color: black;
  margin: auto;
}
.button-close-whole.large {
  width: 50%;
}
.button-close-whole.mobile {
  width: 80%;
}


/* About page settings */
.h3-about {
  margin: 3rem 10rem 0;
  /* margi */
}
.p-about{
  margin: 0.5rem 10rem 0.5rem 11rem;
}
.position-img-about {
  margin-top: 3rem;
  text-align: center;
}
.img-about {
  width: 50%;
}
.last-div-about {
  margin: 4rem 0 2rem;
}
.last-p-about {
  /* margin-top: 4rem;
  margin-bottom: 2rem; */
  text-align: center;
}

@media (max-width: 768px) {
  .h3-about {
    margin: 2rem 1rem 0.5rem 2rem;
  }
  .p-about {
    margin: 0.5rem 1rem 1rem 2rem;
    line-height: 25px;
  }
  .img-about {
    width: 90%;
  }
  .last-p-about {
    width: 80%;
    margin: 1rem auto;
    line-height: 25px;
  }
}

/* Footer components style */
@import url("https://fonts.googleapis.com/css2?family=Oregano&display=swap");
.signature {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  border-top: 1px solid #4f5138;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Oregano;
  font-size: 1rem;
  color: #14D500;
  background-color: #282c34;
  font-weight: bold;
  font-variant: small-caps; }
  .signature span {
    font-family: sans-serif; }
  
